section.cataloge.block
    div.container
        div.cataloge__category_wrapper
            div.accordion
                h5 Вся продукция
                ul.accordion__item_wrapper.item_1
                    li.accordion__item
                        a(href="#") Вся продукция
                    li.accordion__item
                        a(href="#") Вся продукция
                    li.accordion__item
                        a(href="#") Вся продукция
                    li.accordion__item
                        a(href="#") Вся продукция
                    li.accordion__item
                        a(href="#") Вся продукция
            div.accordion
                h5 По системе использования
                ul.accordion__item_wrapper.item_1
                    li.accordion__item
                        a(href="#") По системе использования
                    li.accordion__item
                        a(href="#") По системе использования
                    li.accordion__item
                        a(href="#") По системе использования
                    li.accordion__item
                        a(href="#") По системе использования
                    li.accordion__item
                        a(href="#") По системе использования
            div.accordion
                h5 По действию
                ul.accordion__item_wrapper.item_1
                    li.accordion__item
                        a(href="#") По действию
                    li.accordion__item
                        a(href="#") По действию
                    li.accordion__item
                        a(href="#") По действию
                    li.accordion__item
                        a(href="#") По действию
                    li.accordion__item
                        a(href="#") По действию
            div.wrapper_button_category
                a.cataloge__button_category(href="#") ФАРМАКОНАДЗОР
        div.cataloge__sorting
            a.cataloge__sorting_active(href="#") Все
            a(href="#") L
            a(href="#") A
            a(href="#") В
            a(href="#") Г
            a(href="#") Д
            a(href="#") Е
            a(href="#") З
            a(href="#") К
            a(href="#") Л
            a(href="#") М
            a(href="#") Н
            a(href="#") П
            a(href="#") Р
            a(href="#") С
            a(href="#") У
            a(href="#") Ф
            a(href="#") Х
        div.cataloge__product_container
            div.cataloge__product_wrapper
                div.product__img_wrapper
                    img.product(src="img/product_1.jpg")
                h5 Lorem ipsum dolor sit amet
                p
                    span Производитель:
                    |  Фармстандарт-Томск, Россия
                hr.cataloge__line
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                a.product__button(href="cataloge_detail.html") ПОДРОБНЕЕ
            div.cataloge__product_wrapper
                div.product__img_wrapper
                    img.product(src="img/product_2.jpg")
                h5 Lorem ipsum dolor sit amet
                p
                    span Производитель:
                    |  Фармстандарт-Томск, Россия
                hr.cataloge__line
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                a.product__button(href="cataloge_detail.html") ПОДРОБНЕЕ
            div.cataloge__product_wrapper
                div.product__img_wrapper
                    img.product(src="img/product_3.jpg")
                h5 Lorem ipsum dolor sit amet
                p
                    span Производитель:
                    |  Фармстандарт-Томск, Россия
                hr.cataloge__line
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                a.product__button(href="cataloge_detail.html") ПОДРОБНЕЕ
            div.cataloge__product_wrapper
                div.product__img_wrapper
                    img.product(src="img/product_4.jpg")
                h5 Lorem ipsum dolor sit amet
                p
                    span Производитель:
                    |  Фармстандарт-Томск, Россия
                hr.cataloge__line
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                a.product__button(href="cataloge_detail.html") ПОДРОБНЕЕ
            div.cataloge__product_wrapper
                div.product__img_wrapper
                    img.product(src="img/product_5.jpg")
                h5 Lorem ipsum dolor sit amet
                p
                    span Производитель:
                    |  Фармстандарт-Томск, Россия
                hr.cataloge__line
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                a.product__button(href="cataloge_detail.html") ПОДРОБНЕЕ
            div.cataloge__product_wrapper
                div.product__img_wrapper
                    img.product(src="img/product_6.jpg")
                h5 Lorem ipsum dolor sit amet
                p
                    span Производитель:
                    |  Фармстандарт-Томск, Россия
                hr.cataloge__line
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                a.product__button(href="cataloge_detail.html") ПОДРОБНЕЕ
            div.cataloge__product_wrapper
                div.product__img_wrapper
                    img.product(src="img/product_1.jpg")
                h5 Lorem ipsum dolor sit amet
                p
                    span Производитель:
                    |  Фармстандарт-Томск, Россия
                hr.cataloge__line
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                a.product__button(href="cataloge_details.html") ПОДРОБНЕЕ
            div.cataloge__product_wrapper
                div.product__img_wrapper
                    img.product(src="img/product_2.jpg")
                h5 Lorem ipsum dolor sit amet
                p
                    span Производитель:
                    |  Фармстандарт-Томск, Россия
                hr.cataloge__line
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                a.product__button(href="cataloge_detail.html") ПОДРОБНЕЕ
            div.cataloge__product_wrapper
                div.product__img_wrapper
                    img.product(src="img/product_3.jpg")
                h5 Lorem ipsum dolor sit amet
                p
                    span Производитель:
                    |  Фармстандарт-Томск, Россия
                hr.cataloge__line
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                a.product__button(href="cataloge_detail.html") ПОДРОБНЕЕ
        div.wrapper_pagination
            div.pagination
                a(href="#")
                    div.pagination_left_arrow
            div.pagination
                a(href="#") 1
            div.pagination
                a(href="#") 2
            div.pagination
                a(href="#") 3
            div.pagination
                a(href="#") ...
            div.pagination
                a(href="#")
                    div.pagination_right_arrow
        hr.pagination__line

