section.cataloge.block
    div.container
        div.cataloge__category_wrapper
            div.accordion
                h5 Вся продукция
                ul.accordion__item_wrapper.item_1
                    li.accordion__item
                        a(href="#") Вся продукция
                    li.accordion__item
                        a(href="#") Вся продукция
                    li.accordion__item
                        a(href="#") Вся продукция
                    li.accordion__item
                        a(href="#") Вся продукция
                    li.accordion__item
                        a(href="#") Вся продукция
            div.accordion
                h5 По системе использования
                ul.accordion__item_wrapper.item_1
                    li.accordion__item
                        a(href="#") По системе использования
                    li.accordion__item
                        a(href="#") По системе использования
                    li.accordion__item
                        a(href="#") По системе использования
                    li.accordion__item
                        a(href="#") По системе использования
                    li.accordion__item
                        a(href="#") По системе использования
            div.accordion
                h5 По действию
                ul.accordion__item_wrapper.item_1
                    li.accordion__item
                        a(href="#") По действию
                    li.accordion__item
                        a(href="#") По действию
                    li.accordion__item
                        a(href="#") По действию
                    li.accordion__item
                        a(href="#") По действию
                    li.accordion__item
                        a(href="#") По действию
            div.wrapper_button_category
                a.cataloge__button_category(href="#") ФАРМАКОНАДЗОР
        div.large_accordion
            h5 Педиатрия
            ul.large_accordion__item_wrapper.item_1
                li.large_accordion__item
                    a(href="#") Педиатрия
                li.large_accordion__item
                    a(href="#") Педиатрия
                li.large_accordion__item
                    a(href="#") Педиатрия
                li.large_accordion__item
                    a(href="#") Педиатрия
                li.large_accordion__item
                    a(href="#") Педиатрия
        div.wrapper_category_detail
            div.wrapper_category_detail__img
                img.category_detail__img(src="img/product_1.jpg")
            div.wrapper_category_detail__text
                h3 Lorem ipsum dolor
                h5 Действущее вещество:
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                hr.cataloge_detail__line
                h5 Производитель:
                p Фармстандарт-Томск, Россия
                hr.cataloge_detail__line
                h5 Применение:
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                hr.cataloge_detail__line
                h5 Описание:
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                hr.cataloge_detail__line
                p Для подробной информации смотрите инструкцию для медицинского применения.
        div.wrapper_category_detail_button
            h5
                a.category_detail_button(href="#") ИНСТРУКЦИЯ
                    img.pdf_file(src="img/pdf_file.png")
        hr.cataloge_detail__line


