section.contacts.block
    div.container
        div.contacts_wrapper__all
            div.contacts__wrapper__item
                div.contacts__img__wrapper
                    img.contacts__img(src="img/home.png")
                div.contacts__text__wrapper
                    p Адрес:
                    h5 03127, м. Київ,
                        br
                        | проспект Голосіївський, 132
            div.contacts__wrapper__item
                div.contacts__img__wrapper
                    img.contacts__img(src="img/phone.png")
                div.contacts__text__wrapper
                    p Тел./Факс
                    h5 +38 (073) 427-88-41
                    h5 +38 (073) 427-88-41
            div.contacts__wrapper__item
                div.contacts__img__wrapper
                    img.contacts__img(src="img/post.png")
                div.contacts__text__wrapper
                    p E-mail:
                    h5 office@ffd.com.ua
        hr.cataloge_detail__line
