footer.footer.block
    div.container
        div.footer__wrapper
            div.footer__container
                div.footer__logo_wrapper
                    a(href="index.html")
                        img.footer__logo(src="img/footer_logo.png")
            div.footer__container
                h3 КАТЕГОРИИ
                hr.line_footer
                h6
                    a(href="about_company.html") О КОМПАНИИ
                h6
                    a(href="cataloge.html") КАТАЛОГ ПРЕПАРАТОВ
                h6
                    a(href="news.html") НОВОСТИ
                h6
                    a(href="pharm.html") ФАРМАКОНДЗОР
                h6
                    a(href="contacts.html") КОНТАКТЫ
            div.footer__container
                h3 КОНТАКТЫ
                hr.line_footer
                div.footer_item.item_1
                    i.fas.fa-phone-alt
                    h5 +38 098 76 56 560
                div.footer_item.item_2
                    a(href="#")
                        i.fas.fa-envelope-square
                    h5
                        a(href="#") nextpharm@gmail.com
            div.footer__container
                h3 СОЦ-СЕТИ
                hr.line_footer
                div.footer_item.item_3
                    a(href="#")
                        i.fab.fa-linkedin-in
                    a(href="#")
                        i.fab.fa-facebook-f
                    a(href="#")
                        i.fab.fa-twitter

