section.section_3.block
    div.container
        div.section_3__wrapper__title
            h2 КАТАЛО ПРЕПАРАТОВ
            hr.line_title
            div.section_3__wrapper
                div.section_3__wrapper_item
                    img.section_3__item_img(src="img/sec_2__brain.png")
                    div.section_3__item__text
                        h4
                            a(href="#") НЕРВНАЯ СИСТЕМА
                div.section_3__wrapper_item
                    img.section_3__item_img(src="img/sec_2__hand.png")
                    div.section_3__item__text
                        h4
                            a(href="#") КОСТНО-МЫШЕЧНАЯ СИСТЕМА
                div.section_3__wrapper_item
                    img.section_3__item_img(src="img/sec_2__magnifier.png")
                    div.section_3__item__text
                        h4
                            a(href="#") ОФТАЛЬМОЛОГИЯ
                div.section_3__wrapper_item
                    img.section_3__item_img(src="img/sec_2__medicine.png")
                    div.section_3__item__text
                        h4
                            a(href="#") ПРОТИВОПРОСТУДНЫЕ
                div.section_3__wrapper_item
                    img.section_3__item_img(src="img/sec_2__nose.png")
                    div.section_3__item__text
                        h4
                            a(href="#") АЛЛЕРГИЯ
                div.section_3__wrapper_item
                    img.section_3__item_img(src="img/sec_2__microscope.png")
                    div.section_3__item__text
                        h4
                            a(href="#") ОНКОЛОГИЯ
                div.section_3__wrapper_item
                    img.section_3__item_img(src="img/sec_2__soap.png")
                    div.section_3__item__text
                        h4
                            a(href="#") ДЕЗИНФИЦИРУЮЩИЕ СРЕДСТВА

