header.header
    div.container
        div.sec_nav
            div.header_item.item_1
                a(href="#")
                    i.fab.fa-linkedin-in
                a(href="#")
                    i.fab.fa-facebook-f
                a(href="#")
                    i.fab.fa-twitter
            div.header_item.item_2
                a(href="#")
                    i.fas.fa-envelope-square
                h5
                    a(href="#") nextpharm@gmail.com
            div.header_item.item_3
                i.fas.fa-phone-alt
                h5 +38 098 76 56 560
            div.header_item.item_4
                h5 RUS
                h5 UKR
                h5 ENG
        hr
        div.header_wrapper
            div.logo
                a(href="index.html")
                    img(alt="logo" src="img/main_logo.png")
            nav.nav_wrapper
                ul.nav
                    li.nav_item
                        a(href="about_company.html") О КОМПАНИИ
                    li.nav_item
                        a(href="cataloge.html") КАТАЛОГ ПРЕПАРАТОВ
                    li.nav_item
                        a(href="news.html") НОВОСТИ
                    li.nav_item
                        a(href="pharm.html") ФАРМАКОНАДЗОР
                    li.nav_item
                        a(href="contacts.html") КОНТАКТЫ
            div.burger_menu
                span.burger_line
            div.nav_wrapper_mobile
                div.logo_mobile
                    a(href="index.html")
                        img(alt="logo" src="img/main_logo.png")
                hr
                ul.nav_mobile
                    li.nav_mobile__item
                        a(href="about_company.html") О КОМПАНИИ
                    li.nav_mobile__item
                        a(href="cataloge.html") КАТАЛОГ ПРЕПАРАТОВ
                    li.nav_mobile__item
                        a(href="news.html") НОВОСТИ
                    li.nav_mobile__item
                        a(href="pharm.html") ФАРМАКОНАДЗОР
                    li.nav_mobile__item
                        a(href="contacts.html") КОНТАКТЫ
                div.header_item.item_1__mobile
                    a(href="#")
                        i.fab.fa-linkedin-in
                    a(href="#")
                        i.fab.fa-facebook-f
                    a(href="#")
                        i.fab.fa-twitter
                div.header_item.item_2__mobile
                    h5
                        a(href="#") nextpharm@gmail.com
                div.header_item.item_3__mobile
                    h5 +38 098 76 56 560
                div.header_item.item_4__mobile
                    h5 RUS
                    h5 UKR
                    h5 ENG
