section.news
    div.container
        div.cataloge__product_container
            div.cataloge__product_wrapper
                div.product__img_wrapper
                    img.product(src="img/news_1.jpg")
                h5.title_news Lorem ipsum dolor sit amet
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                div.wrapper_button_news
                    a.product__button(href="news_detail.html") ПОДРОБНЕЕ
                    p 12.09.2018 г
            div.cataloge__product_wrapper
                div.product__img_wrapper
                    img.product(src="img/news_2.jpg")
                h5.title_news Lorem ipsum dolor sit amet
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                div.wrapper_button_news
                    a.product__button(href="news_detail.html") ПОДРОБНЕЕ
                    p 12.09.2018 г
            div.cataloge__product_wrapper
                div.product__img_wrapper
                    img.product(src="img/news_3.jpg")
                h5.title_news Lorem ipsum dolor sit amet
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                div.wrapper_button_news
                    a.product__button(href="news_detail.html") ПОДРОБНЕЕ
                    p 12.09.2018 г
            div.cataloge__product_wrapper
                div.product__img_wrapper
                    img.product(src="img/news_4.jpg")
                h5.title_news Lorem ipsum dolor sit amet
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                div.wrapper_button_news
                    a.product__button(href="news_detail.html") ПОДРОБНЕЕ
                    p 12.09.2018 г
            div.cataloge__product_wrapper
                div.product__img_wrapper
                    img.product(src="img/news_5.jpg")
                h5.title_news Lorem ipsum dolor sit amet
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                div.wrapper_button_news
                    a.product__button(href="news_detail.html") ПОДРОБНЕЕ
                    p 12.09.2018 г
            div.cataloge__product_wrapper
                div.product__img_wrapper
                    img.product(src="img/news_6.jpg")
                h5.title_news Lorem ipsum dolor sit amet
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                div.wrapper_button_news
                    a.product__button(href="news_detail.html") ПОДРОБНЕЕ
                    p 12.09.2018 г
            div.cataloge__product_wrapper
                div.product__img_wrapper
                    img.product(src="img/news_7.jpg")
                h5.title_news Lorem ipsum dolor sit amet
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                div.wrapper_button_news
                    a.product__button(href="news_detail.html") ПОДРОБНЕЕ
                    p 12.09.2018 г
            div.cataloge__product_wrapper
                div.product__img_wrapper
                    img.product(src="img/news_8.jpg")
                h5.title_news Lorem ipsum dolor sit amet
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                div.wrapper_button_news
                    a.product__button(href="news_detail.html") ПОДРОБНЕЕ
                    p 12.09.2018 г
            div.cataloge__product_wrapper
                div.product__img_wrapper
                    img.product(src="img/news_9.jpg")
                h5.title_news Lorem ipsum dolor sit amet
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                div.wrapper_button_news
                    a.product__button(href="news_detail.html") ПОДРОБНЕЕ
                    p 12.09.2018 г
            div.cataloge__product_wrapper
                div.product__img_wrapper
                    img.product(src="img/news_1.jpg")
                h5.title_news Lorem ipsum dolor sit amet
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                div.wrapper_button_news
                    a.product__button(href="news_detail.html") ПОДРОБНЕЕ
                    p 12.09.2018 г
            div.cataloge__product_wrapper
                div.product__img_wrapper
                    img.product(src="img/news_2.jpg")
                h5.title_news Lorem ipsum dolor sit amet
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                div.wrapper_button_news
                    a.product__button(href="news_detail.html") ПОДРОБНЕЕ
                    p 12.09.2018 г
            div.cataloge__product_wrapper
                div.product__img_wrapper
                    img.product(src="img/news_3.jpg")
                h5.title_news Lorem ipsum dolor sit amet
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                div.wrapper_button_news
                    a.product__button(href="news_detail.html") ПОДРОБНЕЕ
                    p 12.09.2018 г
        div.wrapper_pagination
            div.pagination
                a(href="#")
                    div.pagination_left_arrow
            div.pagination
                a(href="#") 1
            div.pagination
                a(href="#") 2
            div.pagination
                a(href="#") 3
            div.pagination
                a(href="#") ...
            div.pagination
                a(href="#")
                    div.pagination_right_arrow
        hr.pagination__line

