section.pharm.block
    div.container
        div.pharm__wrapper
            h5 Уважаемые клиенты, партнеры и потребители лекарственных средств производства ООО «Next Pharm»!
                br
                | Отдел фармаконадзора компании собирает информацию о следующих случаях:
            div.li_container
                ul
                    li
                        a(href="#") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    li
                        a(href="#") Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    li
                        a(href="#") Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    li
                        a(href="#") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    li
                        a(href="#") Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    li
                        a(href="#") Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    li
                        a(href="#") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            h5 Для передачи информации, связанной с вышеупомянутыми случаями, а также для получения консультации по этим вопросам,
                br
                | пожалуйста, обращайтесь в отдел фармаконадзора ООО «Next Pharm».
            div.pharm_container__text
                div.pharm_wrapper__title
                    h5 Адрес:
                    p 03127, м. Київ, проспект Голосіївський, 132,
                div.pharm_wrapper__title
                    h5 Тел:
                    p (073) 427-88-41
                div.pharm_wrapper__title
                    h5 Факс:
                    p (073) 427-88-41
                div.pharm_wrapper__title
                    h5 E-mail:
                    p
                        a(href="#") office@ffd.com.ua
            h5 Вся информация, которую Вы нам предоставляете, является конфиденциальной и не подлежит разглашению, за исключением случаев, предусмотренных законодательством.
            hr.cataloge_detail__line