div.pop_up__wrapper.block
    div.pop_up
        div.wrapper_warning
            img.warning_img(src="img/warning.png")
            h2 ПРЕДУПРЕЖДЕНИЕ
        h3 Информация в данном разделе представлена только для медицинских работников или для специалистов здравоохранения.
        h3 Подтвердите пожалуйста, что вы относитесь к медицинским работникам или к специалистам здравоохранения
        div.warning_wrapper__button
            button.warning_button_1 ПОДТВЕРДИТЬ
            button.warning_button_2 ОТКЛОНИТЬ