doctype html
html
    include ../includes/_head.pug
    title main-page
    body
        include  ../includes/warning.pug
        include  ../includes/nav.pug
        include  ../includes/slider.pug
        include  ../includes/about_company.pug
        include  ../includes/main_cataloge.pug
        include  ../includes/map.pug
        include  ../includes/footer.pug
        include  ../includes/script.pug
