doctype html
html
    include ../includes/_head.pug
    title pharm
    body
        include  ../includes/warning.pug
        include  ../includes/nav.pug
        section.bread_crumbs.block
            div.container
                div.bread_crumbs__wrapper
                    div.bread_crumbs__left
                        p
                            a(href="index.html") Главная
                        span.slash /
                        p Фармаконадзор
                    div.bread_crumbs__right
                        h2 ФАРМАКОНАДЗОР
        include   ../includes/pharm.pug
        include  ../includes/main_cataloge.pug
        include  ../includes/footer.pug
        include  ../includes/script.pug